<!-- Careers Section -->
    <section id="careers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Careers</h2>
                    <h3 class="section-subheading text-muted">vNEXT is an exciting new consultancy company focused on augmenting human capabilities with AI. We help organisations innovate faster and be more competitive by combining Cloud, DevOps, Data, and AI. We take pride in having the best technologists in the industry. But it's not just about the technology. It’s also about working with our customers to find the right solutions to the right problems.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="careers-heading">Why work at vNEXT?</h4>
                    <p class="text-muted">
                        At vNEXT, we care deeply about our people and we put them first in everything we do. 
                        Here are some of the reasons why you should work at vNEXT. 
                    </p>
                    <ul>
                        <li>A generous salary package.</li>
                        <li>A dedicated budget for development and training.</li>
                        <li>An opportunity to make an impact in a small consultancy with great customers.</li>
                        <li>A Health & Wellness Program (and a dedicated budget) to spend on gym memberships, cycling equipment, running gear, or whatever keeps you fit and happy.</li>
                        <li>Contribution incentives as encouragement to make a difference in our community and We pay you for writing blog posts, speaking at conferences, or organising user groups.</li>
                        <li>BYO Devices – We help you purchase the gadgets you want including laptops, mobile devices, tablets to give you the freedom and choice to do your best work.</li>
                        <li>No performance reviews. We believe in collaboration and continuous feedback.</li>
                        <li>A WeCare Program where vNEXT donates a percentage of profits to charities you care about.</li>
                        <li>No-Fluff culture. We treat others with respect, and we strive make things better.</li>
                        <li>A Fair Share Program with bonuses for bringing new business and customers to vNEXT. </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h4 class="careers-heading">Open Roles</h4>
                    <ul>
                         <li>Azure Engineer</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                    <div class="col-lg-12">
                        <h4 class="careers-heading">Interested?</h4>
                        <ul>
                             <li>Please reach us at <a href="mailto:jobs@vnext.com.au?subject=website_jobs_enquiry">jobs@vnext.com.au</a></li>
                        </ul>
                    </div>
                </div>


        </div>
    </section>