<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">WHAT WE DO</h2>
                <h3 class="section-subheading text-muted">We focus on you. At vNext, we take pride in having the best
                    technologists in the industry. But it's not about the
                    technology. It is about your business and your challenges. We work with you to find the right
                    solutions to the right
                    problems</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Intelligent Business</h4>
                <p class="text-muted">Let's use AI to Augment Human capabilities and power your business with
                    intelligent apps, intelligent cloud and
                    intelligent edge. <a href="#contact" class="page-scroll">Get started</a></p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-table fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Unleash the Power of your Data</h4>
                <p class="text-muted">Democratize access to your data within your organisation. Find new insights and
                    integrate all your business processes
                    using modern APIs. <a href="#contact" class="page-scroll">Learn how</a></p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-space-shuttle fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Accelerate Innovation</h4>
                <p class="text-muted">We have employed DevOps and DataOps to help customers innovate faster. If your
                    deployment lead time is longer than an hour, then <a href="#contact" class="page-scroll">we need to
                        talk.</a></p>
            </div>
        </div>
    </div>
</section>